@layer components {

    .error {
        @apply flex justify-center items-center;
    }

    .errorIcon {
        @apply w-12 md:w-16 lg:w-20 h-12 md:h-16 lg:h-20;
    }

    .errorButton {
        @apply w-32 h-8 md:w-64 md:h-16 lg:w-96 lg:h-20;
    }
}

