/* @font-face {
  font-family: 'Divale';
  src: url('/fonts/Divale.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
} */

/* @font-face {
  font-family: 'DazzleCarpet';
  src: url('/fonts/DazzleCarpet.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

/* @font-face {
  font-family: 'TheGoldBachelor';
  src: url('/fonts/TheGoldBachelor.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: 'SherlyKitchenRegular';
  src: url('/fonts/SherlyKitchenRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./themes/theme.css";

@import "./layers/baseLayer.css";
@import "./layers/componentLayer.css";
@import "./layers/utilitiesLayer.css";
