@font-face {
  font-family: 'Divale';
  src: url('/fonts/Divale.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./themes/theme.css";

@import "./layers/baseLayer.css";
@import "./layers/componentLayer.css";
@import "./layers/utilitiesLayer.css";
